@import "../../../styles/_variables";

.notification {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 72px;
  max-width: 40%;
  margin: 42px auto;
  &__success,
  &__warning,
  &__error,
  &__danger {
    padding: 24px;
    height: 100%;
    border-radius: 5px;
    background-color: $light;
  }
  &__success {
    border: 1px solid $primary;
    box-shadow: 1px 0px 7px $primary;
  }
  &__warning {
    border: 1px solid $warning;
    box-shadow: 1px 0px 7px $warning;
  }
  &__error {
    border: 1px solid $danger;
    box-shadow: 1px 0px 7px $danger;
  }
  &__info {
    border: 1px solid $info;
    box-shadow: 1px 0px 7px $info;
  }
}
