@import "../../styles/_variables";
.booking{
padding:12px 0; ;
width: 50%;
margin: auto;
&__header{
    display:flex;
    flex-wrap: wrap;
    font-size: 16px;
    align-items: center;
    gap:8%;
    padding:12px 0;
border-bottom: 1px solid rgb(212, 211, 211);
}
&__content{
    display:flex;
    padding: 12px 0; ;
    font-size: 18px;
    line-height: 2;
    &__cleaning-date-title,&__checkin--date-title, &__checkout-date-title, &__description-title{
        font-size: 22px;
        font-weight: 600;

    }
    &__cleaning-date, &__checkin-date, &__checkout-date{
        color: $light-gray
    }
}
&__comments{
    margin: 12px 0;
    padding: 12px 0;
    border-top: 1px solid rgb(212, 211, 211);
    &__item{
        list-style: none;
        padding: 8px 0;
        &__commented-date{
            color: $light-gray;
            font-size: small;
        }
        &__commented-by{
            display:flex;
            gap:3%;
            font-weight: 600;
            padding: 5px 0;
            &--icons{
                border-radius: 5px;
                border: 2px solid gray;
                background-color: aquamarine;
                // padding: 8px;
            }
        }
        &__text{
            font-size: 14px;

        }
    }

}

}


