@import "../../styles/_variables";

.booking {
  padding: 1.5rem;
  min-width: 60vw;
  max-width: 95vw;
  border-radius: 0.5rem;
  box-shadow: 0.5px 0px 5px $light-gray;
  margin: 2% auto;
  &__header {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    align-items: center;
    gap: 8%;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgb(212, 211, 211);
    &__title {
      font-size: 1.5rem;
    }
  }
  &__assigned-to {
    margin-right: 0.5rem;
  }

  &__content {
    display: flex;
    padding: 0.8rem 0;
    font-size: 1rem;
    line-height: 2;
    &__modify {
      display: flex;
      align-items: flex-start;
    }

    &__cleaning-date-title,
    &__checkin--date-title,
    &__checkout-date-title,
    &__description-title {
      font-size: 1.2rem;
      font-weight: 600;
    }
    &__description-title {
      width: 40vw;
    }
    &__cleaning-date,
    &__checkin-date,
    &__checkout-date,
    &__description {
      color: $light-gray;
      font-size: 0.9rem;
    }
    &__cleaning-tag {
      width: max-content;
      padding: 0.1rem 0.6rem;
      height: 1.8rem;
      border: 1px solid black;
      border-radius: 0.3rem;
      text-align: center;
      font-size: 0.8rem;

      &__early-morning {
        background: rgb(247, 211, 11);
        color: white;
        border: none;
      }
      &__quick {
        background-color: red;
        color: white;
        border: none;
      }
    }
  }
  &__comments {
    margin: 0.8rem 0;
    padding: 1.1rem 0;
    border-top: 1px solid rgb(212, 211, 211);
    &__item {
      list-style: none;
      padding: 0.8rem 0;
      &__commented-date {
        color: $light-gray;
        font-size: 1.1rem;
      }
      &__commented-by {
        display: flex;
        gap: 3%;
        font-weight: 600;
        padding: 0.25rem 0;
        &--icons {
          border-radius: 5px;
          border: 2px solid gray;
          background-color: $light-gray;
          margin: 1.1rem 0rem;
        }
      }
      &__text {
        font-size: 1.2rem;
      }
    }
  }
}
