@import "../../../styles/_variables";

.booking-list {
  margin: 0 auto;
  width: 80vw;
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 98vw;
    max-width: 800px;
  }
  &__title {
    font-size: 1.5rem;
  }
}
