@import "../../styles/_variables";

.nav-bar {
  background-color: $primary;
  padding: 15px 0;
  width: 100%;
  z-index: 100;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    text-decoration: none;
    width: 80%;
    margin: auto;
  }
  &__user-status {
    display: flex;
    width: 80%;
    column-gap: 1rem;
    font-size: small;
    align-items: center;
    color: white;
    justify-content: flex-end;
  }
  &__nav {
    display: flex;
    column-gap: 1rem;
    font-weight: 500;
    font-size: 1rem;
    &__link {
      text-decoration: none;
      color: white;
      transition: color 0.4s;
      &__active {
        border-bottom: 0.25rem solid white;
        color: white;
      }
    }
  }
  &__close,
  &__toggle {
    color: $primary;
    cursor: pointer;
    font-size: 2.5rem;
    & > svg {
      font-size: 4rem;
    }
  }
  &__toggle {
    margin: 0 10vw;
    border-bottom: 1px solid $secondary;
    width: 100vw;
  }
  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: white;
    z-index: 1;
  }
}
@media screen and (max-width: 1150px) {
  .nav-bar {
    width: 0;
    background-color: unset;
    &__container {
      flex-direction: column;
      position: fixed;
      align-items: flex-start;
      row-gap: 0.5rem;
      top: 0;
      width: 90vw;
      right: -100%;
      column-gap: 8px;
      background-color: $primary;
      width: 80%;
      height: 100%;
      padding: 6rem 3rem 0;
      transition: right 0.4s;
    }
    &__user-status {
      flex-direction: column;
      align-items: flex-start;
    }
    &__show-menu {
      right: 0;
    }
  }
}
@media screen and (min-width: 1150px) {
  .mobile-nav {
    &__toggle,
    &__close {
      display: none;
    }
  }
}
