.nav-bar {
  background-color: rgb(140, 172, 172);
  padding: 10px 48px;
  display: flex;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 14px;
    text-decoration: none;
    width: 80%;
    margin: auto;
  }
  &__user-status {
    display: flex;
    width: 25%;
    column-gap: 20px;
    font-size: small;
    font-weight: 500;
    align-items: center;
    color: white;
  }
  &__nav {
    font-weight: 600;
    font-size: medium;
    a {
      // border: 2px solid white;
      padding: 3px 16px;
      text-decoration: none;
      color: white;
    }
    a.active {
      border-bottom: 2px solid white;
    }
  }
}
