@import "../../styles/_variables";

.booking-list {
  margin: 0 auto;
  width: 100vw;
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__title {
    font-size: 1.5rem;
  }
}
